.my__toolbar{
    height: 40px;
    background-color: rgba(168, 143, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: right;
}

.my__button{
    font-size: 14px;
    height: 20px;
    margin: auto 5px;
    width: 100px;
    border: 0;
    background-color: orange;
}

.my__button__reload{
    font-size: 14px;
    height: 20px;
    margin: 10px 5px;
    width: 100px;
    border: 0;
    background-color: orange;
    position: absolute;
    left: 0;
}

.my__button:hover{
    border: 1px solid black;
}

.my__slider{
    background: linear-gradient(to right, rgba(0, 169, 143, 0.8) 0%, red 100%);
    width: 80px;
    border-radius: 2px;
    margin: auto;
    height: 4px;
    accent-color: rebeccapurple;
    box-shadow: 0 0 3px black;
    -webkit-appearance: none;
    cursor: pointer;
}

.my__frames{
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.my__frames__title{
    text-align: right;
    width: 40px;
    margin: auto;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 16px;
    background: orange;
    display: block;
    border-radius: 0;
    position: relative;
    margin: auto;
}

label:after {
    content: '';
    position: absolute;
    left: 2px;
    width: 16px;
    height: 16px;
    background: rebeccapurple;
    border-radius: 0;
    transition: 0.1s;
}

input:checked + label {
    background: rgba(0, 169, 143, 0.8);
}

input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active:after {
    width: 30px;
}

.my__choice__box{
    width: 130px;
    display: flex;
    justify-content: center;
}

.my__choice__box__title{
    width: 60px;
    margin: 10px;
    text-align: left;
}