.my__toolbar{
    height: 40px;
    background-color: rgba(168, 143, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: right;
}

.my__button{
    font-size: 14px;
    height: 20px;
    margin: auto 5px;
    width: 100px;
    border: 0;
    background-color: orange;
}
.my__button:hover{
    border: 1px solid black;
}