.my__toolbar{
    height: 40px;
    background-color: rgba(168, 143, 0, 0.2);
    width: 100%;
    display: flex;
    justify-content: right;
}

.my__button{
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    margin: auto 5px;
    width: 100px;
    border: 0;
    background-color: orange;
}

.my__button__reload{
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    margin: 10px 5px;
    width: 100px;
    border: 0;
    background-color: orange;
    position: absolute;
    left: 0;
}

.my__button:hover{
    border: 1px solid black;
}

.my__slider{
    background: linear-gradient(to right, rgba(0, 169, 143, 0.8) 0%, red 100%);
    width: 80px;
    border-radius: 2px;
    margin: auto;
    height: 4px;
    accent-color: rebeccapurple;
    box-shadow: 0 0 3px black;
    -webkit-appearance: none;
    cursor: pointer;
}

.my__frames{
    width: 140px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.my__frames__title{
    text-align: right;
    width: 40px;
    margin: auto;
}

.my__choice__box{
    margin: auto 10px auto 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100px;
    height: 22px;
    padding-top: 3px;
    text-align: center;
}

.my__choice__box:hover{
    scale: 1.05;
}
